
.bt1{
    width: 75px;
    height: 40px;
    font-size: 20px;
    background-color: #212529;
    color: white;
    border: none;
    border-style: none;
    transition: color 0.4s;
}
.bt1:hover{
    color: darkred;
}

.bt2{
    height: 35px;
    border: none;

    transition: color 0.5s, background-color 0.5s;
}
.bt2:hover{
    background-color: darkred;
    color: white;
}